@import "../../../../assets/styles/GlobalStyle";

.FeaturesComp {
    // color: $colorWhite;
    padding: 100px 0;

    .features__wrapper {
        .features-inner__wrapper {
            padding: 0 20px;

            display: flex;
            flex-direction: column;
            align-items: center;

            .fist-icon__wrapper, .second-icon__wrapper, .third-icon__wrapper {
                height: 80px;
                width: 80px;
                border-radius: 20px;

                display: flex;
                align-items: center;
                justify-content: center;

                .feature__icons {
                    font-size: 3rem;
                };
            };
            .fist-icon__wrapper {
                background: rgba(144, 238, 144, 0.5);
            };
            .second-icon__wrapper {
                background: rgba(144, 188, 238, 0.5);
            };
            .third-icon__wrapper {
                background: rgba(238, 144, 227, 0.5);
            };


            .title {
                font-family: 'Ubuntu', sans-serif;
                font-size: $subHeading;
                font-weight: 500;
                margin: 20px 0;
            };
            .body {
                font-family: 'Barlow', sans-serif;
                text-align: justify
            };
        };
    };
}