@import "../../../assets/styles/GlobalStyle";

.AppFooterComp {
  background: linear-gradient(rgba(0, 37, 36, 0.5), rgba(0, 37, 36, 0.5)),
  url("../../../assets/images/banner_bg.png") center no-repeat #004547cc;
  background-size: cover;
  color: $secondaryColor;
  font-family: 'Barlow', sans-serif;
  padding: 40px 0 0 0;

  .brand_logo {
    height: 80px;
    width: 150px;
    background: url("../../../assets/images/app_logo_2.png") no-repeat center;
    background-size: contain;
  };
  h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: $subHeading;
  };

  a {
    color: $colorWhite;
    text-decoration: none;

    &:hover {
      color: $linkColorHover;
    };
  };

  .top-footer__wrapper {
    padding: 40px 0 60px 0;
  };

  .bottom-footer__wrapper {
    background: $primaryColor;
    padding: 20px 0;

    .social-icon__wrapper {
      a {
        margin-right: 15px;
      };
    };
  };
};
