@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');
/*
    font-family: 'Barlow', sans-serif;
    font-family: 'Ubuntu', sans-serif;
*/

@import "assets/styles/GlobalStyle";

.App {

    height: $deviceHeight;
    width: $fullWidth;
    color: $primaryColor;
    font-family: 'Ubuntu', sans-serif;

    a {
        color: $primaryColor;
        text-decoration: none;

        &:hover {
            color: $linkColorHover !important;
            text-decoration: none;
            transition: color 0.6s ease !important;
        };
    };

    .mCard {
        box-shadow: 0 6px 12px 0 rgba(14,30,37,.12);
        border-radius: 5px;
        color: $primaryColor;
        transition: 0.3s ease;
    };
    .mCard:hover {
        box-shadow: 0 2px 4px 0 rgba(14,30,37,.3);
    };
};