/*====  Global Variables ====*/

//  Layout
$deviceHeight: 100vh;
$deviceWidth: 100vw;
$fullHeight: 100%;
$fullWidth: 100%;

//  Font Size
$heading: 3rem;
$subHeading: 2rem;
$fontSize: 1.6rem;

//  Colors
$primaryColor: #023b3b;
$secondaryColor: #f6f6f8;
$colorWhite: #ffffff;
$iconColor: #5e9494;
$lineColor: #d2d2d2;


$linkColorHover: #9d9d9d;
$colorGreen: #00af00;